*{ // reserting the defaults
    margin: 0;
    padding: 0;
}

html{
    //to make using rem easy, 1rem = 10px
    font-size: 10px;
}

body{
    background-color: #C8CDD2;
    margin: auto 1rem;
}

.wrapper{
    //center the wrapper section
    max-width: 60rem;
    margin: 1rem auto;
    background-color: #242A2F;
    border-radius: 1rem;
    min-height: 90vh;
}

button{
    cursor: pointer;
}
