.images{
    //slider holder which hides the overlaping images from flex
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    span{
        cursor: pointer;
    }
    .right{
        //click button to move
        position: absolute;
        top: 50%;
        right: 5%;
    }
}

.slider{
    //make it flex so to flow in column
    display: flex;
    transition: transform 0.3s ease-in-out;

}